.brand {
  padding-left: 1%;
}
.left {
  margin-left: auto;
  margin-right: 3%;
}
.nav-between {
  margin: 0 2em;
  color: #fffa82 !important;
  font-size: 25px;
  font-weight: bold;
  transition: transform 0.3s !important;
  text-align: center;
}
.nav-between:hover {
  opacity: 1;
  transform: scale(1.1);
  text-shadow: 2px 2px 5px #ffffff;
}
.navbar {
  padding: 0 !important;
  height: 100% !important;
  background-color: rgba(50, 53, 108, 0.8) !important;
  box-shadow: 0px 0px 10px black;
  /* background: linear-gradient(
    0deg,
    rgba(50, 53, 108, 1) 0%,
    rgba(87, 152, 180, 1) 100%
  ); */
  transition: 0.3s ease-out !important;
}
.brand {
  color: #fffa82 !important;
}
.bg {
  /* background: linear-gradient(0deg, #32356c 20%, #5798b4 100%); */
  background: linear-gradient(
    350deg,
    rgba(50, 53, 108, 1) 20%,
    rgba(87, 152, 180, 1) 92%,
    rgba(255, 243, 217, 1) 98%,
    rgba(255, 243, 217, 1) 100%
  );
  height: 100%;
  padding: 0px !important;
}
.text {
  padding: 0 5em;
}
.scroll {
  height: 30% !important;
}
.logo {
  width: 30% !important;
  transition: 0.3s ease-out !important;
}
